services:
  web:
    build: .
    command: /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8082:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql_dump:/docker-entrypoint-initdb.d
    environment:
      MYSQL_DATABASE: ${DB_NAME:-betstats}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
    ports:
      - "3309:3306"
    restart: always

volumes:
  mysql_data:
